@import "compass/css3";

* {
    @include box-sizing(border-box);
}

$pad: 40px;


/*
 * Formatting the header area
 */
header {
    background-color:#fff;
    height: 35px;
    opacity: .9;
    margin-bottom: 100px;
}
header h1.logo {
    margin: 0;
    font-size: 1.4em;
    font-family:'Antic',sans serif;  
    color: #ff5252;
    float: left;
}
header h1.logo:hover {
    color: #fa023c;
    text-decoration: none;
}



.grid {
    background: white;
    margin: 0 0 $pad 0;
    font-family: 'Trirong', serif;

    &:after {
	/* Or @extend clearfix */
	content: "";
	display: table;
	clear: both;
    }
}

[class*='col-'] {
    float: left;
    padding-right: $pad;
    .grid &:last-of-type {
	padding-right: 0;
    margin: 50 40 60 70;
    }
}
.col-2-3 {
    width: 86.66%;
}
.col-1-3 {
    width: 13.33%;
   margin: 40 40 40 40;
}


.module {
    padding: $pad;
    opacity: 0.8;
}

/* Opt-in outside padding */
.grid-pad {
    padding: $pad 0 $pad $pad;
    [class*='col-']:last-of-type {
	padding-right: $pad;
    }
}

body {
    padding: 10px 50px 200px;
   /* background: url(http://s.cdpn.io/3/dark_wall_@2X.png);*/
    background-size: 300px 300px;
}
blockquote {
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 150px 40px 40px 90px;
    position: relative;
    width:200;

    /*Font*/
    font-family: 'Trirong', serif ;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: justify;

    /*Borders - (Optional)*/

    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
    content: "\201C"; /*Unicode for Left Double Quote*/
    color: #fa023c;

    /*Font*/
    font-family: 'Dancing script', cursive ;
    font-size: 60px;
    font-weight: bold;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

blockquote a {
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

blockquote a:hover{
    color: #666;
}
blockquote h1{
    color: #ff5252;
}


blockquote em{
    font-style: italic;
}
