       html {
          height: 100%;
          box-sizing: border-box;
        }
      
      *,
      *:before,
      *:after {
            box-sizing: inherit;
        }


        body {
           background:#fff;
	       color:#000; 
           font-family:  'Open Sans', sans-serif;
           line-height: 2;
           height: 100%;
           font-size: 17px;
           color:#646464;
           text-align:inline;
           position: relative; /* to make footer in the bottom of the body*/
           margin: 0; /*to make footer fill the screen width without scroll*/
        }
		

        .container {
             width: auto;
             max-width: 680px;
         }
    
         .container .credit {
              margin: 20px 0;
        }
       .vontoatiny {
            margin: 0 auto;
            width: 98%;
            text-shadow: 0 1px 3px rgba(0,0,0,0.15);
            
        }       

       /* Wrapper for page content to push down footer */
       #wrap {
	   min-height: 100%;
	   height: auto !important;
	   height: 100%;
	   /* Negative indent footer by it's height */
	   margin: 0 auto -60px;
       }

       /* Set the fixed height of the footer here */
       #push,
       #footer {
	        height: 100px;
       }
       #footer {
	       background-color: #fff;
       }

       /* Lastly, apply responsive CSS fixes as necessary */
       @media (max-width: 767px) {
	   #footer {
	       margin-left: -20px;
	       margin-right: -20px;
	       padding-left: 20px;
	       padding-right: 20px;
	   }
       }


       h1,h2,h3,h4{
	    font-family: 'Open Sans', sans-serif;
            color: #4682B4 ;
	    margin: 19px 0;
        }
      #logo-name {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 35px;
                  text-transform: none;
                  text-decoration: none;
                  letter-spacing: 0em;
                  word-spacing: 0em;
                  line-height: 1.4;
                  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
                  padding-bottom: 40px;
     }

     .logo-color {
                  color: #cc4e46;
                 }

    .navbar-default {
        background-color: #cc4e46;
     }
     .navbar-default .navbar-nav > li > a {
             color: #fff;
      }

      a{
	    font-family:'Josefin Sans', sans-serif ;
            font-size: 16px;
            color: #cc4e46 ;
	    margin: 14px 0;
        }
       
      a:hover {
              -webkit-animation: fadeIn 1s;
                  animation: fadeIn 1s;
      }
     
      p{
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
                 padding:6px 0;
                 text-align:left;
            }
	

 a.li {
  display: inline;
  font-size: 18px;
  color: #4682B4 ;

 }
 
 li + li {
    margin-left: 5px;
 }
