       html {
          height: 100%;
            box-sizing: border-box;
        }
      
      *,
      *:before,
      *:after {
            box-sizing: inherit;
        }

    body {
           background:#fff;
	       color:#000; 
           font-family: 'Roboto', sans-serif;
           line-height: 2;
           min-height: 100%;
           font-size: 16px;
           padding-bottom: 6rem;
            text-align:inline;
            position: relative; /* to make footer in the bottom of the body*/
            margin: 0; /*to make footer fill the screen width without scroll*/
        }
		
       
   .footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
	   background-color: #cc4e46;
	   z-index: 0;
   }

   .footer-color{
       font-family: 'Poiret One', cursive;
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       color:white;
       text-shadow: 0 1px 3px rgba(0,0,0,0.15);
   }

.vontoatiny {
    margin: 0 auto;
    padding-top: 64px;
    width: 94%;
}



	a,h2 {
			font-family: 'BioRhyme', serif;
            font-size: 14px;
            color: #cc4e46 ;
			margin: 14px 0;
		}
        .row p{
		 -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		 border-radius: 4px;
                 color:#777;
                 padding:6px 0;
                 text-align:left;
        }




	


.clearfix:before, .clearfix:after,
.row:before, .row:after,
.container12:before, .container12:after, .container16:before, .container16:after {
    content:'.';
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}
.clear {
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}
.row:after, .clearfix:after, .container12:after, .container16:after {clear:both;}
/* For IE7. Move this to separate file when you notice some problems */
.row, .clearfix {zoom: 1;}
img, object, embed {max-width:100%;}
img {height:auto;}

 li {
  display: inline;
}
 
li + li {
   margin-left: 5px;
 }

