<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
            <p>
             Nous sommes très enthousiaste à l'idée de créer un environnement  où les femmes peuvent partager et discuter de leur projet professionel. Un espace où elles peuvent collaborer ensemble  et créer des ateliers autour du langage python.
Toutes  pyladies sont les bienvenus :). Quelques soit votre background, apprentie ou ayant déja un niveau avancé nous aimerons tous vous connaitre.  Hommes ou femmes tant que vous respecteriez notre code de conduite, nous vous accepterions.  
            </p>
            <p>
              Atelier récent: <a href="https://djangogirls.org/antananarivo/"> djangogirls Antananarivo  </a> 
            </p>
       {% endblock %}

    </body>
</html>
