<!DOCTYPE html>
<html>
  <head>
    <title> Pyladiesmdg </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}" >
    <link href="https://fonts.googleapis.com/css?family=Antic|Trirong:300i" rel="stylesheet">
  </head>
  <body>

 <h1> tinay ny mikôdy :)  </h1>
<div class="grid">
  <div class="col-2-3">
    <div class="module">
     <img src="{{ url_for('static', filename = 'image/pyladies.png') }}" width="200">
    {% block content %}
    {% endblock %}

    </div>
  </div>
  <div class="col-1-3">
    <div class="module">
      <p>twitter goes here!</p>
    </div>
  </div>
</div>
 </div>

  </body>
</html>
