<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
           <p>
               Pyladies fonctionnent grâce au  volontariat et à l'entraide.  
          </p>
          <p>
             Nous sommes à la recherche d'un endroit qui pourrait accueillir l'évènement, des matériels ou tous qui pouraient  rendre l'atelier acceuillant et agréable (rafraichissement,goodies..). Nous avons  également besoin des gens geniaux  qui  peuvent faire un  don de leur temps pour animer ou partager leurs connaissances durant l'atelier :). Si le langage python est un sujet d'interêt pour vous! Nous serons heureux de faire votre connaissance. 
           </p>
           {% endblock %}

    </body>
</html>
