<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
        <h4> Activités </h4>
        <p>
            Initiation à la technologie du web avec django: <a href="http://djangogirls.org/TNR"> Djangogirls Antananarivo 2016 </a>.
            
        </p> 
        <h4> Rejoignez-nous: </h4>
        <p>
        Quelques soit votre background (MP,éléctronique,Informatique, ou autre domaine scientifique...), apprentie ou ayant déja un niveau avancé, si  python vous interesse vous êtes le bienvenue  tant que vous respectez notre <a href="http://www.pyladies.com/CodeOfConduct/"> code de conduite </a>.
        </p>    

        {% endblock %}

    </body>
</html>
