<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
        <h4> nous rejoindre? </h4>
        <p>
        Quelques soit votre background (MP,éléctronique,Informatique, ou autre domaine scientifique...), apprentie ou ayant déja un niveau avancé, si  python vous interesse nous aimerons tous vous connaitre.  Hommes ou femmes tant que vous respectez notre <a href="http://www.pyladies.com/CodeOfConduct/"> code de conduite </a>, nous vous accepterions.
        </p>    

        <h4> nous soutenir?  </h4>

         <p>
         Notre but c'est de rendre l'atelier agréable et aceuillant pour tout les participants: Nous sommes  aussi à la recherche d'un endroit qui peut accueillir l'évènement. 
          </p>
        {% endblock %}

    </body>
</html>
