<!DOCTYPE html>
<html>
    <body>
        {% extends "gridlayout.html" %}
        {% block content %}
         <blockquote> 
           <h1 class="logo"> Hello there :) </h1>
           Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                and 1.10.33 of de Finibus Bonorum et Malorum            <h1 class="logo"> current event join us :) </h1>
    
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
            <h1 class="logo"> last event :) </h1>
</blockquote>

        </div>
        {% endblock %}

    </body>
</html>
