<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
            <p> L'univers du code  et de la  nouvelle technologie t'interessent t'elles? Es-tu une passionnée? ou veux-tu  apprendre à coder?
	  Pyladies Antananarivo est  une communauté de femme qui voudrait offir à leur paire une occasion pour apprendre à programmer;
	  Une opportunité pour se retrouver  et d'échanger leur savoir faire autour d'un sujet qui leur passionne: l'art d'écrire un codes! tout celà dans un cadre conviviale et amicale.
       </p>
       <p> PyladiesTNR est rattaché à  <a href="http://www.pyladies.com">pyladies.com</a> , une communauté de  femme  active dans l'ingenierie et  de la nouvelle technologie localisée partout dans le monde et  qui ont un interêt commun pour la technologie python.</p>
	<p>  Si tu habites à Antananarivo ou  si tu es de passage n'hesites pas à nous contacter ;). fait nous un petit coucou sur  tnr@pyladies.com </p>
       
        {% endblock %}
    </body>
</html>
