<!DOCTYPE html>
<html>
    <body>
        {% extends "templates.html" %}
        {% block content %}
        <h4> Qui Sommes-Nous: </h4>
         <p> Pyladies Antananarivo  est un meetup local  de  <a href="http://www.pyladies.com">pyladies.com</a> : une communauté de femme  active dans l'ingénierie et la nouvelle technologie.
        Nous sommes très enthousiaste à l'idée de créer un environnement  où les femmes peuvent partager et discuter de leur projet professionnel. Un espace où elles peuvent collaborer et  échanger leur savoir-faire autour d'un sujet qui les passionnent: l'art d'écrire des codes en python.  
        </p>
        <p>
         Pyladies est aussi une opportunité pour les femmes de  tisser un lien d'amitié entre elles. Une occasion  pour échanger des conseils  pour une meilleure intégration dans la communauté tech.</p>

        {% endblock %}
    </body>
</html>
