<!DOCTYPE html>
<html>
    <head>
        <title> Pyladiesmdg </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
    </head>
    <body>
        <header>
            <div class="container" >
                 <h1 class="logo"> PyLadies Antananarivo </h1> 
                 <strong><nav>
                         <ul class="menu">
                            <li> <a href="{{ url_for('home') }}"> PyladiesTNR </a> </li>
                            <li> <a href="{{ url_for('about') }}"> QuiSommesNous </a> </li>
                            <li> <a href="{{ url_for('about') }}"> Evenement </a> </li>

                         </ul>
                 </nav></strong>
            </div>
        </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>
